# Roarm
aiohttp
ujson
aiortc
av
opencv-python
empy
lark
catkin_pkg

setuptools
adafruit-circuitpython-lsm6ds
scipy 
pyserial
hidapi 
adafruit-circuitpython-seesaw
pyyaml
pymongo
psutil
tornado
argcomplete
