<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="wheel" params="name color">
    <link name="${name}">
      <inertial>
        <mass value="0.08"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="0.000045" iyy="0.000045" izz="0.00009" ixy="0" ixz="0" iyz="0"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="-1.5708 0 0"/>
        <geometry>
          <cylinder radius="0.03" length="0.015"/>
        </geometry>
        <material name="${name}_material">
          <color rgba="${color}"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="-1.5708 0 0"/>
        <geometry>
          <cylinder radius="0.03" length="0.015"/>
        </geometry>
      </collision>
    </link>
    <gazebo reference="${name}">
  <surface>
    <friction>
      <ode>
        <mu>1.0</mu>
        <mu2>1.0</mu2>
      </ode>
    </friction>
  </surface>
</gazebo>
  </xacro:macro>
</robot>